<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BTS: Bangtan Sonyeon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <h1>Saranghai BTS</h1>
    <img src="https://prahar-zikao-uugi.prakashshree.repl.co/static/bts.jpg"> <b> <hr>
    <h2>About Them</h2>
    <p>BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a South Korean boy band formed in 2010 and debuting in 2013 under Big Hit Entertainment. The septet—consisting of members Jin, Suga, J-Hope, RM, Jimin, V, and Jungkook—co-writes and co-produces much of their own material. Originally a hip hop group, their musical style has evolved to incorporate a wide range of genres; their lyrics have often discussed mental health, the troubles of school-age youth and coming of age, loss, the journey towards self-love, and individualism. Their work also frequently references literature, philosophy and psychological concepts, and includes an alternate universe storyline.</p>
    <b>
      <h4>List Them</h4>
      <h3>No.1</h3>
      <h2>Junkook</h2>
      <img src ="https://prahar-zikao-uugi.prakashshree.repl.co/static/junkook.jpg"> <b>
        <p>Jeon Jung-kook (Korean: 전정국) was born on September 1, 1997, in Busan, South Korea.[2][3][4] His family consists of his parents and an elder brother.[5][4] He attended Baekyang Elementary and Middle School in Busan. When he became a trainee, he transferred to Singu Middle School in Seoul.[6] Jungkook initially had dreams of becoming a badminton player when he was younger, but after seeing G-Dragon perform "Heartbreaker" on television, it influenced him to want to become a singer.[7]</p>
        <b>
          <h3>No.2</h3>
      <h2>Kim-Taehyung</h2>
          <img src="https://prahar-zikao-uugi.prakashshree.repl.co/static/v.jpg"> 
          <b>
            <p>Pre-debut, he was the "secret member" of BTS. Fans were unaware of his existence as his agency wished to keep him a surprise. He stated the concept had made him feel uneasy and lonely as he thought it was because he might get cut from the team.[13] On June 13, 2013, he made his debut as a member of BTS on Mnet's M Countdown with the track "No More Dream" from their debut single album, 2 Cool 4 Skool. He was first credited for music composition in The Most Beautiful Moment in Life, Part 1 when he co-wrote and co-produced the song "Hold Me Tight". He also contributed to writing lyrics for the song "Fun Boyz", co-composed by bandmate Suga.</p>
        <b>
          <h3>No.3</h3>
      <h2>Jimin</h2>
          <img src="https://prahar-zikao-uugi.prakashshree.repl.co/static/jimin.jpg">
          <p>Jimin debuted as a member of BTS on June 13, 2013,[8] and holds the position of vocalist and dancer in the group. Under BTS, he has released three solo songs: "Lie", "Serendipity", and "Filter". "Lie" was released in 2016, as part of the group's second Korean studio album, Wings. It was described as stunning and dramatic, conveying dark undertones and emotions that helped reflect the overall concept of the album.[9] In contrast, "Serendipity", released on the Love Yourself: Her (2017) extended play (EP), was soft and sensual, unraveling the joy, conviction, and curiosity of love.</p>
          <b>
            <h3>No.4</h3>
      <h2>Suga</h2>
            <img src="https://prahar-zikao-uugi.prakashshree.repl.co/static/suga.jpg">
            <p>Originally joining the company as a music producer,[8] Suga trained under Big Hit Entertainment for three years alongside members J-Hope and RM. He made his debut as a member of BTS on Mnet's M Countdown with the track "No More Dream" from their debut single album 2 Cool 4 Skool.[9] He has produced and written lyrics for a variety of tracks on all of BTS' albums.

For BTS' third Korean-language extended play (EP) The Most Beautiful Moment in Life, Pt.</p>
            <b>
                          <h3>No.5</h3>
      <h2>Jin</h2>
              <img src="https://prahar-zikao-uugi.prakashshree.repl.co/static/jin.jpg">
            <p>Kim was scouted by Big Hit Entertainment for his looks while walking down the street.[9] At the time Kim was studying acting and had no background in music.[10] Subsequently, he auditioned for Big Hit as an actor before becoming an idol trainee.[11] On June 13, 2013, Kim made his debut as one of the four vocalists in BTS with their debut single album 2 Cool 4 Skool.[12] Kim released his first co-produced track, a solo single from the album Wings titled "Awake", in 2016.[10] The song peaked at number 31 on the Gaon Music Chart and six on the Billboard World Digital Singles Chart</p>
            <b>
                          <h3>No.6</h3>
      <h2>RM</h2>
              <img src="https://prahar-zikao-uugi.prakashshree.repl.co/static/rm.jpg">
            <p>On August 5, 2014, Big Hit Entertainment released a trailer for BTS' first studio album Dark & Wild, which was set to be released on August 20. The rap track, officially credited to BTS as "Intro: What Am I to You?", was a solo performed by RM.[23] Through reality television show American Hustle Life, which was used to produce Dark & Wild,[24] RM formed a working relationship with Warren G, who offered to write BTS a beat.[25] In an interview with Korean magazine Hip Hop Playa, Warren G stated that he had befriended BTS through the program and had kept in touch with the band after they returned to South Korea.</p>
            <b>
                          <h3>No.7</h3>
      <h2>J-Hope</h2>
              <img src="https://prahar-zikao-uugi.prakashshree.repl.co/static/j-hop.jpg">
            <p>J-Hope released his first solo mixtape, Hope World, worldwide on March 1, 2018. It was accompanied by a music video for the lead single "Daydream".[9] A music video for the B-side single "Airplane" was released on March 6.[10] The mixtape debuted at number 63 and peaked at number 38 on the Billboard 200, making him the highest-charting Korean solo act on the ranking up to that point. Six of the album's tracks entered the World Digital Song Sales chart, including "Daydream", which peaked atop the chart, making J-Hope one of only ten Korean artists, including BTS, to reach number one.</p>
            <b>

            <h4>Which one you like the most-</h4> 
              

              
    
    
  </body>
</html>